package pages

import "github.com/alessandrolattao/htmx/components"

templ Dashboard() {
    <div class="grid grid-cols-3 gap-4 mb-4">
        @components.Small()
        @components.Small()
        @components.Small()
    </div>
    @components.Big()
    <div class="grid grid-cols-2 gap-4 mb-4">
        @components.Small()
        @components.Small()
        @components.Small()
        @components.Small()
    </div>
    @components.Big()
}